html {
	background-color: lightgray;
}

form {
	margin : auto;
	width: 60%;
	border: 3px solid lightgrey;
	padding: 10px;
	background-color: #dedede;
}

.messages {
	height: auto; 
	/*width: 100%;*/ 
	clear: both;
	background-color: ghostwhite;
}

p {
	font-family: Arial;
	font-size: 20px;
	text-align: left;
	border-bottom: 2px solid lightgrey;
	display: block;
	color: grey;
	padding: 12px;
}

.top {
	background-color: #f7e4a8 ;
	padding : 30px;
	margin-bottom: -16px;
}

.Author {
	width : 250px;
	height : 30px;
	border: 2px solid lightgrey;
	border-radius: 2px;
}

.bottom {
	background-color: #f0f0f0 ;
	padding : 40px;
}

.Content {
	border : 2px solid lightgrey;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	width : 600px;
	box-sizing: border-box;
	height: 40px;
}

button {
	width: 110px;
	height:  40px;
	background-color: #ffc561;
	color: white;
	border: 2px solid #ffae21;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.icon {
  color: #875a0c;
  min-width: 30px;
  text-align: center;
}