/* Style principal du texte */
body {
	font-family: "Verdana", sans-serif;
	background-color: #1ABC9C;
}

/* Style des tableaux */
table, th, td {
	background-color: white;
	border: 3px;
 	border-spacing: 0;
 	border-collapse: separate;
}

table {
	table-layout: auto;
 	width: 100%;
}

/* Style des liens */
a: link {
	color: #FF0000;
}
a: hover {
	color: #F3DC12;
	text-decoration: underline;
}

/* Style des formulaire */
fieldset {
	background-color: #f2f2f2;
}

/* Top naviguation */
.topnav {
	background-color: #333;
	margin-bottom: 100px;
}

/* Dropdown Button */
.dropbtn {
  background-color: #28B463;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* Affichage du contenu Dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Contenu Dropdown */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Liens du Dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Couleur du dropdown */
.dropdown-content a:hover {background-color: #ddd;}

/* Dropdown menu */
.dropdown:hover .dropdown-content {display: block;}

/* Dropdown background */
.dropdown:hover .dropbtn {background-color: #3e8e41;}